.wrapper {
	width: 95%;
	padding: 1% 1% 1% 1%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.search-container {
	width: 75%;
	display: flex;
	align-items: stretch;
}

#search-bar {
	width: 90%;
	float: left;
	padding: 1% 1% 1% 13vh;
	font-size: 8vh;
	box-shadow: 5px 4px 30px 4px rgba(0,0,0,0.42);
	border: 0px;
	border-radius: 10px;
	background: url(search.jpg);
	background-size: 8vh 8vh;
	background-position: 3vh 50%;
	background-repeat: no-repeat;
}

#search-bar:focus { 
	outline: none;
}

.ui-menu {
	border-radius: 25px;
	margin-top: 2%;
	width: 500px; /* random px value. the ui width would freaking break without a random px value :/ */
}

.ui-menu .ui-menu-item {
	font-size: 8vh;
	color: gray;
}

.ui-menu .ui-menu-item .ui-state-active , .ui-menu, .ui-menu-item div:hover{
	border: 0px;
	border-radius: 10px;
}
