<head>
	<title> Hair N Line Salon </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
	  	src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
	    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
		crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="home.css">
	<script type="text/javascript" src="home.js"></script>
</head>

<div id="wrapper">
	<div id="row">
		<input id="search-bar" spellcheck=false placeholder="Name">
		</input>
	</div>
</div>
